# Practico Data Drive - Exploración y Curación de Datos
Autor: Grupo 7

In [83]:
# Importaciones pertinentes 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

## Carga de los DataSets

In [84]:
# cargar con pandas el archivo .csv , names=m_cols , encoding='latin-1' utf-8
df = pd.read_csv('C:/DataDrive/SUELDO412.csv',sep="|", encoding='latin-1')

C:\Users\e92890749\AppData\Local\Temp\ipykernel_19580\4158225032.py:2: DtypeWarning: Columns (16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/DataDrive/SUELDO412.csv',sep="|", encoding='latin-1')

# Explorando el DataSet

In [85]:
## Data set de individuos

print("Shape 'df'   = {}".format(df.shape))
df.sample(5)

Shape 'df'   = (161681, 60)

,CUITCLIE,APEYNOMB,RELACION,GRUPOGENERAL,SUBGRUPO,SEGMENTO_SUELDOS,CL_ACTIVO_FUM,TIENE_I_CBESA,LIMC_Q900,TIENE_I_VISA,...,"IMPORTE ANUALIZADO TC RENOV + MANT (PAQUETE O NO), POBLACION TOTAL CON AL MENOS 1 TC","IMPORTE ANUALIZADO TC RENOV + MANT (PAQUETE O NO), SOLO LOS QUE PAGAN","VALOR ANUALIZADO RENOVACION TC (PAQUE O NO PAQUE), POBLACION TOTAL CON AL MENOS 1 TC","VALOR ANUALIZADO RENOVACION TC (PAQUE O NO PAQUE), SOLO POBLACION CON TC","VALOR ANUALIZADO MANTENIMIENTO TC (PAQUE O NO PAQUE), POBLACION TOTAL CON AL MENOS 1 TC","VALOR ANUALIZADO MANTENIMIENTO TC (PAQUE O NO PAQUE), SOLO POBLACION CON TC",USA TC,TIENE TC EN COMPLEMENTARIA TC,FORMULA TABLA COMPLEMENTRIA,FORMULA TABLA COMPLEMENTRIA .1
29338,2.024969e+10,MORENO CESAR ARIEL,TIT,Individuo sin actividad comercial,Sueldo,SUELDO ADM PUBL M4,SI,1.0,0.0,0.0,...,"95788,42975","95788,42975","7841,322314","7841,322314","87947,10744","87947,10744",1.0,1.0,NaN,NaN
98456,2.716230e+10,JIGENA DELIA CRISTINA,TIT,Individuo sin actividad comercial,Sueldo,JUBILADOS PROVINCIA,SI,0.0,1645000.0,0.0,...,"95788,42975",0,"7841,322314",0,"87947,10744",0,0.0,0.0,NaN,NaN
427,2.005412e+10,ARTAZA OSCAR,TIT,Individuo sin actividad comercial,Sueldo,JUBILADOS PROVINCIA,SI,1.0,0.0,1.0,...,"191576,8595","191576,8595","15682,64463","15682,64463","175894,2149","175894,2149",1.0,1.0,NaN,NaN
150149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62061,2.306167e+10,RUIZ MIRTA LILIANA,TIT,Individuo sin actividad comercial,Sueldo,JUBILADOS PROVINCIA,SI,1.0,0.0,0.0,...,"95788,42975","95788,42975","7841,322314","7841,322314","87947,10744","87947,10744",1.0,1.0,NaN,NaN

# Explorando el DataSet con sus correspondientes Tipos

In [86]:
df.dtypes

CUITCLIE                                                                                     float64
APEYNOMB                                                                                      object
RELACION                                                                                      object
GRUPOGENERAL                                                                                  object
SUBGRUPO                                                                                      object
SEGMENTO_SUELDOS                                                                              object
CL_ACTIVO_FUM                                                                                 object
TIENE_I_CBESA                                                                                float64
LIMC_Q900                                                                                    float64
TIENE_I_VISA                                                                                 float64
TIPO_PAQ_DESC                                                                                 object
TIENE_I_PR_PERS                                                                              float64
SALDO_COMPUTO_SIST_CA_P                                                                       object
SALDO_COMPUTO_SIST_CA_P1                                                                      object
SALDO_COMPUTO_SIST_CA_P2                                                                      object
SALDO_COMPUTO_SIST_CC_P                                                                      float64
SALDO_COMPUTO_SIST_CC_P1                                                                      object
SALDO_COMPUTO_SIST_CC_P2                                                                      object
SALDO_COMPUTO_SIST_2                                                                          object
SALDO_COMPUTO_SIST_21                                                                         object
SALDO_COMPUTO_SIST_22                                                                         object
SALDO_COMPUTO_SIST_FCI                                                                       float64
SALDO_COMPUTO_SIST_FCI1                                                                      float64
SALDO_COMPUTO_SIST_FCI2                                                                      float64
Ingresos                                                                                     float64
SEGMENTO                                                                                     float64
 PRECA A NUMERO                                                                               object
 SUMA SALDO PROMEDIO (CA + CC) MES ACTUAL                                                     object
 SALDO PROMEDIO (CA + CC) MES -1                                                              object
 SALDO PROMEDIO (CA + CC) MES -2                                                              object
 PROMEDIO TRIMESTRE SALDO CA + CC                                                             object
 PROMEDIO TRIMESTRE SALDO TOTAL                                                               object
 PROMEDIO BIMESTRE SALDO CA + CC                                                              object
 PROMEDIO BIMESTRE SALDO TOTAL                                                                object
 QTC                                                                                         float64
 Tipo de paquete                                                                              object
 Clientes sin paquete y Con PP                                                               float64
 Clientes sin paquete y Con TC                                                               float64
 Clientes sin paquete y Con PP Y TC                                                           object
 Clientes sin paquete y Con TC y PP (numero)                                                 float64
 Clientes sin paquete CON PP SIN TC                                                          float64
 Clientes sin paquete sin PP con TC                                                          float64
 Clientes SIN PAQUETE, SIN TC, SIN PP                                                        float64
 Clientes SIN PAQUETE, SIN TC, SIN PP, CON PRECA                                             float64
 Clientes SIN PAQUETE, SIN TC, SIN PP, SIN PRECA                                             float64
 POBLACION PAQUETIZADA                                                                       float64
 POBLACION PAQUETIZABLE (NO PAQUETIZADA. CON PRECA/TC/PP)                                    float64
 TIENE ALGUNA TC EN ESTA BD                                                                  float64
 POBLACION PAQUETIZADA O PAQUETIZABLE                                                        float64
 VALOR PAGADO PAQUETE ACTUAL                                                                  object
 IMPORTE ANUALIZADO TC RENOV + MANT (PAQUETE O NO), POBLACION TOTAL CON AL MENOS 1 TC         object
 IMPORTE ANUALIZADO TC RENOV + MANT (PAQUETE O NO), SOLO LOS QUE PAGAN                        object
 VALOR ANUALIZADO RENOVACION TC (PAQUE O NO PAQUE), POBLACION TOTAL CON AL MENOS 1 TC         object
 VALOR ANUALIZADO RENOVACION TC (PAQUE O NO PAQUE), SOLO POBLACION CON TC                     object
 VALOR ANUALIZADO MANTENIMIENTO TC (PAQUE O NO PAQUE), POBLACION TOTAL CON AL MENOS 1 TC      object
 VALOR ANUALIZADO MANTENIMIENTO TC (PAQUE O NO PAQUE), SOLO POBLACION CON TC                  object
 USA TC                                                                                      float64
 TIENE TC EN COMPLEMENTARIA TC                                                               float64
 FORMULA TABLA COMPLEMENTRIA                                                                 float64
 FORMULA TABLA COMPLEMENTRIA .1                                                              float64
dtype: object

# Valido el tipo por columna

In [87]:
df.dtypes['CUITCLIE']

dtype('float64')

# Validación de caracteres especiales en el DataSet

In [88]:
df.columns[~df.columns.str.match(r'^(\w+)$')]

Index([' PRECA A NUMERO ', ' SUMA SALDO PROMEDIO (CA + CC) MES ACTUAL ',
       ' SALDO PROMEDIO (CA + CC) MES -1 ',
       ' SALDO PROMEDIO (CA + CC) MES -2 ',
       ' PROMEDIO TRIMESTRE SALDO CA + CC ',
       ' PROMEDIO TRIMESTRE SALDO TOTAL ', ' PROMEDIO BIMESTRE SALDO CA + CC ',
       ' PROMEDIO BIMESTRE SALDO TOTAL ', ' QTC ', ' Tipo de paquete ',
       ' Clientes sin paquete y Con PP ', ' Clientes sin paquete y Con TC ',
       ' Clientes sin paquete y Con PP Y TC ',
       ' Clientes sin paquete y Con TC y PP (numero) ',
       ' Clientes sin paquete CON PP SIN TC ',
       ' Clientes sin paquete sin PP con TC ',
       ' Clientes SIN PAQUETE, SIN TC, SIN PP ',
       ' Clientes SIN PAQUETE, SIN TC, SIN PP, CON PRECA ',
       ' Clientes SIN PAQUETE, SIN TC, SIN PP, SIN PRECA ',
       ' POBLACION PAQUETIZADA ',
       ' POBLACION PAQUETIZABLE (NO PAQUETIZADA. CON PRECA/TC/PP) ',
       ' TIENE ALGUNA TC EN ESTA BD ',
       ' POBLACION PAQUETIZADA O PAQUETIZABLE ',
       ' VALOR PAGADO PAQUETE ACTUAL ',
       ' IMPORTE ANUALIZADO TC RENOV + MANT (PAQUETE O NO), POBLACION TOTAL CON AL MENOS 1 TC ',
       ' IMPORTE ANUALIZADO TC RENOV + MANT (PAQUETE O NO), SOLO LOS QUE PAGAN ',
       ' VALOR ANUALIZADO RENOVACION TC (PAQUE O NO PAQUE), POBLACION TOTAL CON AL MENOS 1 TC ',
       ' VALOR ANUALIZADO RENOVACION TC (PAQUE O NO PAQUE), SOLO POBLACION CON TC ',
       ' VALOR ANUALIZADO MANTENIMIENTO TC (PAQUE O NO PAQUE), POBLACION TOTAL CON AL MENOS 1 TC ',
       ' VALOR ANUALIZADO MANTENIMIENTO TC (PAQUE O NO PAQUE), SOLO POBLACION CON TC ',
       ' USA TC ', ' TIENE TC EN COMPLEMENTARIA TC ',
       ' FORMULA TABLA COMPLEMENTRIA ', ' FORMULA TABLA COMPLEMENTRIA .1'],
      dtype='object')

Validamos que existen varias columnas que tienen caracteres especiales, valores por fuera de "a-Z, 0-9 y _"

# Reemplazamos los valores fuera de "a-Z, 0-9 y _" en el dataset

In [89]:
df.columns = df.columns.str.replace(' ', '_')
df.head()

,CUITCLIE,APEYNOMB,RELACION,GRUPOGENERAL,SUBGRUPO,SEGMENTO_SUELDOS,CL_ACTIVO_FUM,TIENE_I_CBESA,LIMC_Q900,TIENE_I_VISA,...,"_IMPORTE_ANUALIZADO_TC_RENOV_+_MANT_(PAQUETE_O_NO),_POBLACION_TOTAL_CON_AL_MENOS_1_TC_","_IMPORTE_ANUALIZADO_TC_RENOV_+_MANT_(PAQUETE_O_NO),_SOLO_LOS_QUE_PAGAN_","_VALOR_ANUALIZADO_RENOVACION_TC_(PAQUE_O_NO_PAQUE),_POBLACION_TOTAL_CON_AL_MENOS_1_TC_","_VALOR_ANUALIZADO_RENOVACION_TC_(PAQUE_O_NO_PAQUE),_SOLO_POBLACION_CON_TC_","_VALOR_ANUALIZADO_MANTENIMIENTO_TC_(PAQUE_O_NO_PAQUE),_POBLACION_TOTAL_CON_AL_MENOS_1_TC_","_VALOR_ANUALIZADO_MANTENIMIENTO_TC_(PAQUE_O_NO_PAQUE),_SOLO_POBLACION_CON_TC_",_USA_TC_,_TIENE_TC_EN_COMPLEMENTARIA_TC_,_FORMULA_TABLA_COMPLEMENTRIA_,_FORMULA_TABLA_COMPLEMENTRIA_.1
0,2.000572e+10,FAVA ANDRES TOMAS,TIT,Individuo sin actividad comercial,Sueldo,JUBILADOS PROVINCIA,SI,1.0,0.0,0.0,...,"95788,42975","95788,42975","7841,322314","7841,322314","87947,10744","87947,10744",1.0,1.0,1.0,1.0
1,2.000581e+10,ARGUELLO CIPRIANO,TIT,Individuo sin actividad comercial,Sueldo,SUELDO PRIVADOS,SI,1.0,0.0,0.0,...,"95788,42975","95788,42975","7841,322314","7841,322314","87947,10744","87947,10744",1.0,1.0,NaN,NaN
2,2.000616e+10,MARTINO DALIS MARIA,TIT,Individuo sin actividad comercial,Sueldo,JUBILADOS PROVINCIA,SI,0.0,0.0,0.0,...,"95788,42975",0,"7841,322314",0,"87947,10744",0,0.0,0.0,NaN,NaN
3,2.001823e+10,FERNANDEZ ANGEL FLORENTINO,TIT,Individuo sin actividad comercial,Sueldo,JUBILADOS ANSES,SI,0.0,0.0,0.0,...,"95788,42975",0,"7841,322314",0,"87947,10744",0,0.0,0.0,NaN,NaN
4,2.002789e+10,AMAYA MARCELO,TIT,Individuo sin actividad comercial,Sueldo,JUBILADOS PROVINCIA,SI,0.0,0.0,0.0,...,"95788,42975",0,"7841,322314",0,"87947,10744",0,0.0,0.0,NaN,NaN

# Validamos que se hayan reemplazado bien los campos en el dataset Team

In [90]:
df.columns[~df.columns.str.match(r'^(\w+)$')]

Index(['_SUMA_SALDO_PROMEDIO_(CA_+_CC)_MES_ACTUAL_',
       '_SALDO_PROMEDIO_(CA_+_CC)_MES_-1_',
       '_SALDO_PROMEDIO_(CA_+_CC)_MES_-2_',
       '_PROMEDIO_TRIMESTRE_SALDO_CA_+_CC_',
       '_PROMEDIO_BIMESTRE_SALDO_CA_+_CC_',
       '_Clientes_sin_paquete_y_Con_TC_y_PP_(numero)_',
       '_Clientes_SIN_PAQUETE,_SIN_TC,_SIN_PP_',
       '_Clientes_SIN_PAQUETE,_SIN_TC,_SIN_PP,_CON_PRECA_',
       '_Clientes_SIN_PAQUETE,_SIN_TC,_SIN_PP,_SIN_PRECA_',
       '_POBLACION_PAQUETIZABLE_(NO_PAQUETIZADA._CON_PRECA/TC/PP)_',
       '_IMPORTE_ANUALIZADO_TC_RENOV_+_MANT_(PAQUETE_O_NO),_POBLACION_TOTAL_CON_AL_MENOS_1_TC_',
       '_IMPORTE_ANUALIZADO_TC_RENOV_+_MANT_(PAQUETE_O_NO),_SOLO_LOS_QUE_PAGAN_',
       '_VALOR_ANUALIZADO_RENOVACION_TC_(PAQUE_O_NO_PAQUE),_POBLACION_TOTAL_CON_AL_MENOS_1_TC_',
       '_VALOR_ANUALIZADO_RENOVACION_TC_(PAQUE_O_NO_PAQUE),_SOLO_POBLACION_CON_TC_',
       '_VALOR_ANUALIZADO_MANTENIMIENTO_TC_(PAQUE_O_NO_PAQUE),_POBLACION_TOTAL_CON_AL_MENOS_1_TC_',
       '_VALOR_ANUALIZADO_MANTENIMIENTO_TC_(PAQUE_O_NO_PAQUE),_SOLO_POBLACION_CON_TC_',
       '_FORMULA_TABLA_COMPLEMENTRIA_.1'],
      dtype='object')

# Eliminamos columnas calculadas

In [91]:
##df.drop(['_SUMA_SALDO_PROMEDIO_(CA_+_CC)_MES_ACTUAL_'])
del(df['_SUMA_SALDO_PROMEDIO_(CA_+_CC)_MES_ACTUAL_'])
print("Shape 'df'   = {}".format(df.shape))
df.sample(5)

Shape 'df'   = (161681, 59)

,CUITCLIE,APEYNOMB,RELACION,GRUPOGENERAL,SUBGRUPO,SEGMENTO_SUELDOS,CL_ACTIVO_FUM,TIENE_I_CBESA,LIMC_Q900,TIENE_I_VISA,...,"_IMPORTE_ANUALIZADO_TC_RENOV_+_MANT_(PAQUETE_O_NO),_POBLACION_TOTAL_CON_AL_MENOS_1_TC_","_IMPORTE_ANUALIZADO_TC_RENOV_+_MANT_(PAQUETE_O_NO),_SOLO_LOS_QUE_PAGAN_","_VALOR_ANUALIZADO_RENOVACION_TC_(PAQUE_O_NO_PAQUE),_POBLACION_TOTAL_CON_AL_MENOS_1_TC_","_VALOR_ANUALIZADO_RENOVACION_TC_(PAQUE_O_NO_PAQUE),_SOLO_POBLACION_CON_TC_","_VALOR_ANUALIZADO_MANTENIMIENTO_TC_(PAQUE_O_NO_PAQUE),_POBLACION_TOTAL_CON_AL_MENOS_1_TC_","_VALOR_ANUALIZADO_MANTENIMIENTO_TC_(PAQUE_O_NO_PAQUE),_SOLO_POBLACION_CON_TC_",_USA_TC_,_TIENE_TC_EN_COMPLEMENTARIA_TC_,_FORMULA_TABLA_COMPLEMENTRIA_,_FORMULA_TABLA_COMPLEMENTRIA_.1
11151,2.012145e+10,MOLINA JUAN BAUTISTA,TIT,Individuo sin actividad comercial,Sueldo,SUELDO PRIVADOS,SI,1.0,0.0,0.0,...,"95788,42975","95788,42975","7841,322314","7841,322314","87947,10744","87947,10744",1.0,1.0,NaN,NaN
12570,2.012874e+10,RUBIO RAUL EDGARDO,TIT,Individuo sin actividad comercial,Sueldo,JUBILADOS PROVINCIA,SI,1.0,0.0,0.0,...,"95788,42975","95788,42975","7841,322314","7841,322314","87947,10744","87947,10744",1.0,1.0,NaN,NaN
75721,2.701561e+10,MELGAREJO TERESA MARTINA,TIT,Individuo sin actividad comercial,Sueldo,JUBILADOS PROVINCIA,SI,0.0,0.0,0.0,...,"87947,10744",0,"0,000001",0,"87947,10744",0,0.0,0.0,NaN,NaN
54112,2.036926e+10,MU¥OZ RODRIGO NICOLAS,TIT,Individuo sin actividad comercial,Sueldo,SUELDO ADM PUBL M4,SI,1.0,0.0,0.0,...,"95788,42975","95788,42975","7841,322314","7841,322314","87947,10744","87947,10744",1.0,1.0,NaN,NaN
122101,2.725919e+10,GARZIERA GISELA LORENA,TIT,Individuo sin actividad comercial,Sueldo,SUELDO ADM PUBL M4,SI,1.0,0.0,0.0,...,"95788,42975","95788,42975","7841,322314","7841,322314","87947,10744","87947,10744",1.0,1.0,NaN,NaN

In [92]:
## Eliminamos las columnas que no corresponden
del(df['_SALDO_PROMEDIO_(CA_+_CC)_MES_-1_'])
print("Shape 'df'   = {}".format(df.shape))
df.sample(5)

Shape 'df'   = (161681, 58)

,CUITCLIE,APEYNOMB,RELACION,GRUPOGENERAL,SUBGRUPO,SEGMENTO_SUELDOS,CL_ACTIVO_FUM,TIENE_I_CBESA,LIMC_Q900,TIENE_I_VISA,...,"_IMPORTE_ANUALIZADO_TC_RENOV_+_MANT_(PAQUETE_O_NO),_POBLACION_TOTAL_CON_AL_MENOS_1_TC_","_IMPORTE_ANUALIZADO_TC_RENOV_+_MANT_(PAQUETE_O_NO),_SOLO_LOS_QUE_PAGAN_","_VALOR_ANUALIZADO_RENOVACION_TC_(PAQUE_O_NO_PAQUE),_POBLACION_TOTAL_CON_AL_MENOS_1_TC_","_VALOR_ANUALIZADO_RENOVACION_TC_(PAQUE_O_NO_PAQUE),_SOLO_POBLACION_CON_TC_","_VALOR_ANUALIZADO_MANTENIMIENTO_TC_(PAQUE_O_NO_PAQUE),_POBLACION_TOTAL_CON_AL_MENOS_1_TC_","_VALOR_ANUALIZADO_MANTENIMIENTO_TC_(PAQUE_O_NO_PAQUE),_SOLO_POBLACION_CON_TC_",_USA_TC_,_TIENE_TC_EN_COMPLEMENTARIA_TC_,_FORMULA_TABLA_COMPLEMENTRIA_,_FORMULA_TABLA_COMPLEMENTRIA_.1
94081,2.713649e+10,MAGGI MONICA CRISTINA,TIT,Individuo sin actividad comercial,Sueldo,JUBILADOS PROVINCIA,SI,1.0,0.0,1.0,...,"191576,8595","191576,8595","15682,64463","15682,64463","175894,2149","175894,2149",1.0,1.0,NaN,NaN
23771,2.021756e+10,LLANES CESAR ADRIAN,TIT,Individuo sin actividad comercial,Sueldo,SUELDO ADM PUBL M4,SI,1.0,0.0,0.0,...,"95788,42975","95788,42975","7841,322314","7841,322314","87947,10744","87947,10744",1.0,1.0,NaN,NaN
53480,2.036447e+10,ALVAREZ WALTER FRANCISCO,TIT,Individuo sin actividad comercial,Sueldo,SUELDO ADM PUBL M4,SI,1.0,0.0,0.0,...,"95788,42975","95788,42975","7841,322314","7841,322314","87947,10744","87947,10744",1.0,1.0,NaN,NaN
81053,2.704991e+10,LEYRIA ESTER RAMONA,TIT,Individuo sin actividad comercial,Sueldo,JUBILADOS PROVINCIA,SI,1.0,0.0,0.0,...,"95788,42975","95788,42975","7841,322314","7841,322314","87947,10744","87947,10744",1.0,1.0,NaN,NaN
47410,2.033388e+10,ANTICAGLIA FERNANDO,TIT,Individuo sin actividad comercial,Sueldo,SUELDO PRIVADOS,SI,1.0,0.0,0.0,...,"95788,42975","95788,42975","7841,322314","7841,322314","87947,10744","87947,10744",1.0,1.0,NaN,NaN

In [93]:

##del(df['_SALDO_PROMEDIO_(CA_+_CC)_MES_-2_','_PROMEDIO_TRIMESTRE_SALDO_CA_+_CC_'], axis = 'columns', inplace=True)

df = df.drop(df.columns[[26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57]], axis='columns')
print("Shape 'df'   = {}".format(df.shape))
df.sample(5)

Shape 'df'   = (161681, 26)

,CUITCLIE,APEYNOMB,RELACION,GRUPOGENERAL,SUBGRUPO,SEGMENTO_SUELDOS,CL_ACTIVO_FUM,TIENE_I_CBESA,LIMC_Q900,TIENE_I_VISA,...,SALDO_COMPUTO_SIST_CC_P1,SALDO_COMPUTO_SIST_CC_P2,SALDO_COMPUTO_SIST_2,SALDO_COMPUTO_SIST_21,SALDO_COMPUTO_SIST_22,SALDO_COMPUTO_SIST_FCI,SALDO_COMPUTO_SIST_FCI1,SALDO_COMPUTO_SIST_FCI2,Ingresos,SEGMENTO
72513,2.334316e+10,ESMORIZ BELEN,TIT,Individuo sin actividad comercial,Sueldo,SUELDO ADM PUBL RESTO,SI,1.0,0.0,0.0,...,0,0,0,0,0,0.0,0.0,0.0,173571.0,4.0
151078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1636,2.006448e+10,FERRARI JORGE NELSON,TIT,Individuo sin actividad comercial,Sueldo,JUBILADOS ANSES,SI,1.0,0.0,1.0,...,0,0,"720967,74",633000,"609354,84",0.0,0.0,0.0,210102.0,4.0
33513,2.027008e+10,NU¥EZ PABLO MARIA,TIT,Individuo sin actividad comercial,Sueldo,SUELDO ADM PUBL M4,SI,1.0,0.0,0.0,...,0,0,0,0,0,0.0,0.0,0.0,138552.0,4.0
122577,2.726102e+10,ARIAS IVANA MARIELA,TIT,Individuo sin actividad comercial,Sueldo,SUELDO ADM PUBL RESTO,SI,1.0,0.0,0.0,...,0,0,0,0,0,0.0,0.0,0.0,129372.0,4.0

## Validamos que se hayan reemplazado bien los campos en el dataset Team

In [94]:
df.columns[~df.columns.str.match(r'^(\w+)$')]

Index([], dtype='object')

Ya no existen columnas con caracteres especialessz

In [ ]:
## tratar valores faltantes

In [106]:
player_missing_values_count = df.isnull().sum()

player_missing_values_count[player_missing_values_count > 0]

CUITCLIE                     12552
APEYNOMB                     12552
RELACION                     12552
GRUPOGENERAL                 12552
SUBGRUPO                     12552
SEGMENTO_SUELDOS             12552
CL_ACTIVO_FUM                12552
TIENE_I_CBESA                12552
LIMC_Q900                    12552
TIENE_I_VISA                 12552
TIPO_PAQ_DESC               109275
TIENE_I_PR_PERS              12552
SALDO_COMPUTO_SIST_CA_P      12552
SALDO_COMPUTO_SIST_CA_P1     12552
SALDO_COMPUTO_SIST_CA_P2     12552
SALDO_COMPUTO_SIST_CC_P      12552
SALDO_COMPUTO_SIST_CC_P1     12552
SALDO_COMPUTO_SIST_CC_P2     12552
SALDO_COMPUTO_SIST_2         12552
SALDO_COMPUTO_SIST_21        12552
SALDO_COMPUTO_SIST_22        12552
SALDO_COMPUTO_SIST_FCI       12552
SALDO_COMPUTO_SIST_FCI1      12552
SALDO_COMPUTO_SIST_FCI2      12552
Ingresos                     12552
SEGMENTO                     12552
dtype: int64

In [107]:
len( df.dropna())/len(df)

0.3241320872582431

In [108]:
df[df.CUITCLIE.isnull()]

,CUITCLIE,APEYNOMB,RELACION,GRUPOGENERAL,SUBGRUPO,SEGMENTO_SUELDOS,CL_ACTIVO_FUM,TIENE_I_CBESA,LIMC_Q900,TIENE_I_VISA,...,SALDO_COMPUTO_SIST_CC_P1,SALDO_COMPUTO_SIST_CC_P2,SALDO_COMPUTO_SIST_2,SALDO_COMPUTO_SIST_21,SALDO_COMPUTO_SIST_22,SALDO_COMPUTO_SIST_FCI,SALDO_COMPUTO_SIST_FCI1,SALDO_COMPUTO_SIST_FCI2,Ingresos,SEGMENTO
149129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
## elimino valores nulos

In [110]:
df = df.dropna(subset=['CUITCLIE'])

In [111]:
df.describe()

,CUITCLIE,TIENE_I_CBESA,LIMC_Q900,TIENE_I_VISA,TIENE_I_PR_PERS,SALDO_COMPUTO_SIST_CC_P,SALDO_COMPUTO_SIST_FCI,SALDO_COMPUTO_SIST_FCI1,SALDO_COMPUTO_SIST_FCI2,Ingresos,SEGMENTO
count,1.491290e+05,149129.000000,1.491290e+05,149129.000000,149129.000000,149129.0,1.491290e+05,1.491290e+05,1.491290e+05,149129.000000,149129.0
mean,2.398459e+10,0.776911,3.382383e+04,0.283788,0.334315,0.0,1.498872e+03,1.345685e+03,1.218004e+03,165444.584346,4.0
std,3.313529e+09,0.416319,1.167020e+05,0.450837,0.471752,0.0,8.397775e+04,7.856805e+04,7.605030e+04,32241.491539,0.0
min,2.000572e+10,0.000000,0.000000e+00,0.000000,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000e+00,115800.000000,4.0
25%,2.028654e+10,1.000000,0.000000e+00,0.000000,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000e+00,136758.000000,4.0
50%,2.393395e+10,1.000000,0.000000e+00,0.000000,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000e+00,163440.000000,4.0
75%,2.722079e+10,1.000000,0.000000e+00,1.000000,1.000000,0.0,0.000000e+00,0.000000e+00,0.000000e+00,190608.000000,4.0
max,2.796110e+10,1.000000,1.645000e+06,1.000000,1.000000,0.0,2.468633e+07,2.362834e+07,2.244674e+07,231599.000000,4.0

In [117]:
df[df.CUITCLIE.isnull()]

Empty DataFrame
Columns: [CUITCLIE, APEYNOMB, RELACION, GRUPOGENERAL, SUBGRUPO, SEGMENTO_SUELDOS, CL_ACTIVO_FUM, TIENE_I_CBESA, LIMC_Q900, TIENE_I_VISA, TIPO_PAQ_DESC, TIENE_I_PR_PERS, SALDO_COMPUTO_SIST_CA_P, SALDO_COMPUTO_SIST_CA_P1, SALDO_COMPUTO_SIST_CA_P2, SALDO_COMPUTO_SIST_CC_P, SALDO_COMPUTO_SIST_CC_P1, SALDO_COMPUTO_SIST_CC_P2, SALDO_COMPUTO_SIST_2, SALDO_COMPUTO_SIST_21, SALDO_COMPUTO_SIST_22, SALDO_COMPUTO_SIST_FCI, SALDO_COMPUTO_SIST_FCI1, SALDO_COMPUTO_SIST_FCI2, Ingresos, SEGMENTO, IMC]
Index: []

[0 rows x 27 columns]

In [112]:
player_missing_values_count = df.isnull().sum()

player_missing_values_count[player_missing_values_count > 0]

TIPO_PAQ_DESC    96723
dtype: int64

valido que solamente quedan nulos en el tipo de paquete, que supongo que es porque no tiene paquete

# Agrego una columna calculada

In [120]:
#altura_cuadrado=player_df_mod['height_m']**2
##df['SALDO_COMPUTO_SIST_CA_P'] = df['SALDO_COMPUTO_SIST_CA_P'].astype(float)

###df['SALDO_COMPUTO_SIST_CA_P'] = pd.to_numeric(df['SALDO_COMPUTO_SIST_CC_P'])

def sum(SALDO_COMPUTO_SIST_FCI1,SALDO_COMPUTO_SIST_CC_P):
  return   (SALDO_COMPUTO_SIST_FCI1+SALDO_COMPUTO_SIST_CC_P)

In [121]:
df['sum'] = df.apply(lambda x: imc(x.SALDO_COMPUTO_SIST_FCI1, x.SALDO_COMPUTO_SIST_CC_P), axis=1)
df.describe()

C:\Users\e92890749\AppData\Local\Temp\ipykernel_19580\2578447202.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sum'] = df.apply(lambda x: imc(x.SALDO_COMPUTO_SIST_FCI1, x.SALDO_COMPUTO_SIST_CC_P), axis=1)

,CUITCLIE,TIENE_I_CBESA,LIMC_Q900,TIENE_I_VISA,TIENE_I_PR_PERS,SALDO_COMPUTO_SIST_CC_P,SALDO_COMPUTO_SIST_FCI,SALDO_COMPUTO_SIST_FCI1,SALDO_COMPUTO_SIST_FCI2,Ingresos,SEGMENTO,IMC,sum
count,1.491290e+05,149129.000000,1.491290e+05,149129.000000,149129.000000,149129.0,1.491290e+05,1.491290e+05,1.491290e+05,149129.000000,149129.0,1.491290e+05,1.491290e+05
mean,2.398459e+10,0.776911,3.382383e+04,0.283788,0.334315,0.0,1.498872e+03,1.345685e+03,1.218004e+03,165444.584346,4.0,1.345685e+03,1.345685e+03
std,3.313529e+09,0.416319,1.167020e+05,0.450837,0.471752,0.0,8.397775e+04,7.856805e+04,7.605030e+04,32241.491539,0.0,7.856805e+04,7.856805e+04
min,2.000572e+10,0.000000,0.000000e+00,0.000000,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000e+00,115800.000000,4.0,0.000000e+00,0.000000e+00
25%,2.028654e+10,1.000000,0.000000e+00,0.000000,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000e+00,136758.000000,4.0,0.000000e+00,0.000000e+00
50%,2.393395e+10,1.000000,0.000000e+00,0.000000,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000e+00,163440.000000,4.0,0.000000e+00,0.000000e+00
75%,2.722079e+10,1.000000,0.000000e+00,1.000000,1.000000,0.0,0.000000e+00,0.000000e+00,0.000000e+00,190608.000000,4.0,0.000000e+00,0.000000e+00
max,2.796110e+10,1.000000,1.645000e+06,1.000000,1.000000,0.0,2.468633e+07,2.362834e+07,2.244674e+07,231599.000000,4.0,2.362834e+07,2.362834e+07